<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="navbar :: copy (${authUser},${authentication})"></div>

<div class="container-fluid">
    <div class="row">
        <!--Боковая панель ролей-->
        <div class="col-2 bg-white" style="height: 100vh">
            <div class="nav flex-column nav-pills mt-3">
                <button class="nav-link active text-start " data-bs-toggle="tab" data-bs-target="#adminPanel">Admin</button>
                <button class="nav-link text-start" data-bs-toggle="tab" data-bs-target="#userPanel">User</button>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content">
                <!--Панель админа-->
                <div class="tab-pane active mx-3" id="adminPanel">
                    <h2 class="my-3">Admin panel</h2>
                    <nav class="nav nav-tabs">
                        <a class="nav-link active" data-bs-toggle="tab" href="#allUsers">Users table</a>
                        <a class="nav-link" data-bs-toggle="tab" href="#newUser">New User</a>
                    </nav>
                    <div class="tab-content" style="background-color: white">
                        <!--Таб со всеми юзерами-->
                        <div class="tab-pane active" id="allUsers" role="tabpanel" >
                            <div class="card">
                                <div class="card-header"><h5 class="my-1">About user</h5></div>
                                <div class="card-body">
                                    <hr class="my-1">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="row">ID</th>
                                            <th scope="row">First name</th>
                                            <th scope="row">Last name</th>
                                            <th scope="row">Age</th>
                                            <th scope="row">Email</th>
                                            <th scope="row">Role</th>
                                            <th scope="row">Edit</th>
                                            <th scope="row">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each = "user : ${users}">
                                            <td th:text = "${user.getId()}" class="align-middle">ID</td>
                                            <td th:text = "${user.getFirstName()}" class="align-middle">Name</td>
                                            <td th:text = "${user.getFirstName()}" class="align-middle">Name</td>
                                            <td th:text = "${user.getAge()}" class="align-middle">Age</td>
                                            <td th:text = "${user.getEmail()}" class="align-middle">Email</td>
                                            <td class="align-middle">
                                                <div th:each="role : ${user.getRoles()}">
                                                    <span th:text="${role.getRole()}"></span>
                                                </div>
                                            </td>


                                            <!--Модальное окно редактирования пользователя-->
                                            <td class="align-middle">
                                                <button class="btn btn-primary btn-sm" id="editBtn" data-bs-toggle="modal" data-bs-target="#editModal"
                                                        th:attrappend=" data-bs-target=${user.id}">Edit</button>

                                                <div id="editModal" th:attrappend="id=${user.id}" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit user</h4>
                                                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="editForm" th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}"
                                                                      th:object="${user}" class="text-center" th:attrappend="id=${user.id}">
                                                                    <div class="container col-6">
                                                                        <div class="mb-3">
                                                                            <label for="editId" class="form-label fw-bold">ID</label>
                                                                            <input th:value="*{id}" type="number" id="editId" class="form-control" name="id" disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="editName" class="form-label fw-bold">First name</label>
                                                                            <input th:value="*{firstName}" type="text" id="editName" class="form-control" name="firstName">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="editAge" class="form-label fw-bold">Last name</label>
                                                                            <input th:value="*{age}" type="number" id="editAge" class="form-control" name="age">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editSurname" class="form-label fw-bold">Last name</label>
                                                                            <input th:value="*{lastName}" type="text" id="editSurname" class="form-control" name="lastName">
                                                                        </div>


                                                                        <div class="mb-3">
                                                                            <label for="editUsername" class="form-label fw-bold">Email</label>
                                                                            <input th:value="*{email}" type="text" id="editUsername" class="form-control" name="email">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="editPassword" class="form-label fw-bold">Password</label>
                                                                            <input type="password" id="editPassword" class="form-control" name="password">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editRoles" class="form-label fw-bold">Roles</label>
                                                                            <select id="editRoles" multiple="multiple" class="form-select form-select-sm" name="roles" size="2">
                                                                                <option value="1">ADMIN</option>
                                                                                <option value="2">USER</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" form="editForm" th:attrappend="form=${user.id}" class="btn btn-primary mb-2">Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>



                                            <!--Модальное окно удаления пользователя-->
                                            <td class="align-middle">
                                                <button class="btn btn-danger btn-sm" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                        th:attrappend="data-bs-target=${user.id}">Delete</button>
                                                <div id="deleteModal" th:attrappend="id=${user.id}" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete user</h4>
                                                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="deleteForm" th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}"
                                                                      th:object="${user}" class="text-center" th:attrappend="id=${user.id}">
                                                                    <div class="container col-6">
                                                                        <div class="mb-3">
                                                                            <label for="deleteId" class="form-label fw-bold">ID</label>
                                                                            <input th:value="*{id}" type="number" id="deleteId" class="form-control" name="id" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteName" class="form-label fw-bold">First name</label>
                                                                            <input th:value="*{firstName}" type="text" id="deleteName" class="form-control" name="firstName" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteSurname" class="form-label fw-bold">Last name</label>
                                                                            <input th:value="*{lastName}" type="text" id="deleteSurname" class="form-control" name="lastName" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteAge" class="form-label fw-bold">Age</label>
                                                                            <input th:value="*{age}" type="text" id="deleteAge" class="form-control" name="Age" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteUsername" class="form-label fw-bold">Email</label>
                                                                            <input th:value="*{username}" type="text" id="deleteUsername" class="form-control" name="username" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteRoles" class="form-label fw-bold">Roles</label>
                                                                            <select id="deleteRoles" multiple="multiple" class="form-select form-select-sm" name="roles" disabled size="2" >
                                                                                <option th:each="role : ${user.roles}" th:value="${role.id}" th:text="${role.role}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" form="deleteForm" th:attrappend="form=${user.id}" class="btn btn-danger mb-2">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!--Таб нового юзера-->
                        <div class="tab-pane" id="newUser" role="tabpanel">
                            <div class="card">
                                <div class="card-header"><h5 class="my-1">Add new user</h5></div>
                                <div class="card-body">
                                    <div class="container col-4">
                                        <form th:method="POST" th:action="@{/admin/add}" th:object="${newUser}" class="text-center">

                                            <label for="name" class="form-label fw-bold">First name</label>
                                            <input th:field="*{firstName}" type="text" id="name" class="form-control" placeholder="First name">

                                            <label for="surname" class="form-label fw-bold mt-3">Last name</label>
                                            <input th:field="*{lastName}" type="text" id="surname" class="form-control" placeholder="Last name">

                                            <label for="age" class="form-label fw-bold mt-3">Age</label>
                                            <input th:field="*{age}" type="number" id="age" class="form-control" placeholder="Age">

                                            <label for="username" class="form-label fw-bold mt-3">Email</label>
                                            <input th:field="*{email}" type="text" id="username" class="form-control" placeholder="Email">

                                            <label for="password" class="form-label fw-bold mt-3">Password</label>
                                            <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Password">

                                            <label for="roles" class="form-label fw-bold mt-3">Role</label>
                                            <select id="roles" multiple="multiple" th:field="*{roles}" class="form-select form-select-sm" size="2">
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                            <input type="submit" value="Add new user" class="btn btn-success mt-3">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Панель юзера-->
                <div class="tab-pane mx-3" id="userPanel">
                    <h2 class="my-3">User information page</h2>
                    <div class="card">
                        <div class="card-header"><h5 class="my-1">About user</h5></div>
                        <div class="card-body">
                            <hr class="my-1">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="row">ID</th>
                                    <th scope="row">First name</th>
                                    <th scope="row">Last name</th>
                                    <th scope="row">Age</th>
                                    <th scope="row">Email</th>
                                    <th scope="row">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text = "${admin.getId()}" class="align-middle">ID</td>
                                    <td th:text = "${admin.getFirstName()}" class="align-middle">FirstName</td>
                                    <td th:text = "${admin.getLastName()}" class="align-middle">LastName</td>
                                    <td th:text = "${admin.getAge()}" class="align-middle">Age</td>
                                    <td th:text = "${admin.getEmail()}" class="align-middle">Email</td>
                                    <td class="align-middle">
                                        <div th:each="role : ${admin.getRoles()}">
                                            <span th:text="${role.getRole()}"></span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>