.btn-primary#editBtn {
    --bs-btn-bg: #17a2b8;
    --bs-btn-hover-bg: #148ea1;
    --bs-btn-border-color: #17a2b8;
    --bs-btn-hover-border-color: #148ea1;
    --bs-btn-active-bg: rgba(19, 137, 155, 0.99);
    --bs-btn-active-border-color: rgba(19, 137, 155, 0.99);
}

.navbar-text#logoutBtn {
    --bs-btn-hover-color: #e3e2e2;
    --bs-btn-active-border-color: #343a40;
    --bs-btn-active-color: #e3e2e2;
}

body {
    background-color: #f8faf9;
}

.red-text {
    color:darkred
}

.btn-primary#editBtn {
    --bs-btn-bg: #17a2b8;
    --bs-btn-hover-bg: #148ea1;
    --bs-btn-border-color: #17a2b8;
    --bs-btn-hover-border-color: #148ea1;
    --bs-btn-active-bg: rgba(19, 137, 155, 0.99);
    --bs-btn-active-border-color: rgba(19, 137, 155, 0.99);
}
.navbar-text#logoutBtn {
    --bs-btn-hover-color: #e3e2e2;
    --bs-btn-active-border-color: #343a40;
    --bs-btn-active-color: #e3e2e2;
}
body {
    background-color: #f8faf9;
}

.navbar-text#logoutBtn {
    --bs-btn-hover-color: #e3e2e2;
    --bs-btn-active-border-color: #343a40;
    --bs-btn-active-color: #e3e2e2;
}
body {
    background-color: #f8faf9;
}
